{% extends "base.html" %}
{% block content %}

	<div id="fh5co-container">

<!-- FRONT PAGE -->
		<div id="fh5co-home" class="js-fullheight" data-section="home">

			<div class="flexslider">
				
				<div class="fh5co-overlay"></div>
				<div class="fh5co-text">
					<div class="container">
						<div class="row">
							<h1 class="to-animate">FUDIEE</h1>
						</div>
					</div>
				</div>
			  	<ul class="slides">
			   	<li style="background-image: url('/static/FUDIEE/images/slide_1.jpg');" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url('/static/FUDIEE/images/slide_2.jpg');" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url('/static/FUDIEE/images/slide_3.jpg');" data-stellar-background-ratio="0.5"></li>
			  	</ul>

			</div>
			
		</div>

<!-- NAVIGATION BAR -->	
		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					<div class="fh5co-menu-1">
						<a href="#" data-nav-section="home">HOME</a>
						<a href="#" data-nav-section="features">FEATURES</a>
						<a href="#" data-nav-section="menu">MENU</a>
					</div>
					<div class="fh5co-logo">
						<a href="index.html">FUDIEE</a>
					</div>
					<div class="fh5co-menu-2">
						<a href="#" data-nav-section="reservation">RESERVATION</a>
						<a href="about/" class="external" target="_self" >ABOUT</a>
						{% if user.is_authenticated %}
						  <a href="accounts/logout" class="external">LOGOUT</a>
						  <a href="" >Hello, {{user.username}}</a>
						{% else %}
						  <a href="accounts/register" class="external">SIGNUP</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		
<!-- FEATURED DISHES -->	
		<div id="fh5co-featured" data-section="features">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Featured Dishes</h2>
						<p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row">
				<!-- FOR LOOP -->
				{% for d in dishs %}
				  <tr class="{% cycle 1 2 as row %}">
					{% if row == 1 %}
						<div class="fh5co-grid">
							<div class="fh5co-v-half">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../media/{{d.img1}})"></div>
								<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
									<h2>{{d.name1}}</h2>
									<span class="pricing">${{d.price1}}</span>
									<p>{{d.description1}}</p>
								</div>
							</div>
							<div class="fh5co-v-half">
								<div class="fh5co-h-row-2">
									<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../media/{{d.img2}})"></div>
									<div class="fh5co-v-col-2 fh5co-text arrow-left">
										<h2>{{d.name2}}</h2>
										<span class="pricing">${{d.price2}}</span>
										<p>{{d.description2}}</p>
									</div>
								</div>

							</div>
						</div>
                     {% else %}
					 <div class="fh5co-grid">
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../media/{{d.img1}})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>{{d.name1}}</h2>
									<span class="pricing">${{d.price1}}</span>
									<p>{{d.description1}}</p>
								</div>
							</div>

						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../media/{{d.img2}})"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>{{d.name2}}</h2>
								<span class="pricing">${{d.price2}}</span>
								<p>{{d.description2}}</p>
							</div>
						</div>
					</div>
					 {% endif %}
				    </tr>
				  {% endfor %}
				<!-- ENDFOR LOOP -->
				</div>
			</div>
		</div>
	
<!-- MENU -->	
		<div id="fh5co-menus" data-section="menu">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Food Menu</h2>
						<p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row row-padded">
					<!-- for loop -->
					{% for y in types %}
						<div class="col-md-6">
							<div class="fh5co-food-menu to-animate-2">
								<h2 >{{ y.type }}</h2>
								<ul>
									{% for x in items %}
									{% if x.type == y.type %} 
									<li>
										<div class="fh5co-food-desc">
											<figure>
												<img src="{{x.img.url}}"  class="img-responsive">
											</figure>
											<div>
												<h3>{{ x.name }}</h3>
												<p>{{ x.description }}</p>
											</div>
										</div>
										<div class="fh5co-food-pricing">
											<div>
												<span style="margin-bottom: 0px !important;">${{ x.price }}</span>
												<input type="number" style="width: 1cm; height: 1cm;color: black;">
											</div>
										</div>
									</li>
									{% endif %} 
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endfor %}
					<!-- end for -->
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center to-animate-2">
						<p><a href="#" class="btn btn-primary btn-outline">CHECKOUT</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="to-animate">&copy; 2016 Foodee Free HTML5 Template. <br> Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://pexels.com/" target="_blank">Pexels</a> <br> Tasty Icons Free <a href="http://handdrawngoods.com/store/tasty-icons-free-food-icons/" target="_blank">handdrawngoods</a>
					</p>
					<p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
